In [1]:
import os
import sys
import csv
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("logs/train-test.log")
df

,unique_id,timestamp,tag,period,eval_test,model_version,model_version_note,runtime
0,e511a620-0f87-4614-b7c2-b4d8b31a0a63,1.611942e+09,netherlands,"('2017-12-01', '2019-05-31')",{'rmse': 0.5},0.1,test model,00:00:01
1,dad7342c-72dd-4058-95a5-502b37751c46,1.611942e+09,netherlands,"('2017-12-01', '2019-05-31')",{'rmse': 0.5},0.1,test model,00:00:01
2,9cd0bec7-3b53-45d0-aaf2-f5750c3e0915,1.611942e+09,united_kingdom,"('2017-12-01', '2019-05-28')",{'rmse': 24789.0},0.1,supervised learing model for time-series,000:00:04
3,dc2ad60e-2b57-48e7-98c2-f96a3ae37dd3,1.611942e+09,all,"('2017-12-05', '2019-05-30')",{'rmse': 36912.0},0.1,supervised learing model for time-series,000:00:02

In [3]:

df = pd.read_csv("logs/predict-test.log")
df

,unique_id,timestamp,country,y_pred,y_proba,target_date,model_version,runtime
0,a6928b16-f29e-4001-8402-85baf1a9ed89,1.611942e+09,netherlands,[0],"[0.6, 0.4]",2019-01-05,0.1,00:00:02
1,8611344b-45b3-4aa6-b52d-5c902a906377,1.611942e+09,netherlands,[0],"[0.6, 0.4]",2019-01-05,0.1,00:00:02
2,762846a8-8d5d-44c5-aa1d-6f79f8e56015,1.611942e+09,netherlands,[1094.181],None,2018-08-01,0.1,000:00:22

In [7]:

df = pd.read_csv("logs/predict-2021-1.log")
df

,unique_id,timestamp,country,y_pred,y_proba,target_date,model_version,runtime
0,87ca6b98-3aa4-4ce7-89dd-51be8af39de3,1.611933e+09,netherlands,[0],"[0.6, 0.4]",2019-01-05,0.1,00:00:02